<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление сотрудника</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic_form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tasks.css') }}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IT Project Management</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.logout')}}">Logout</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 bg-light d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item"><a id="admin_l" class="nav-link" href="">Админ</a></li>
                    <li class="nav-item"><a id="manager_l" class="nav-link" href="">Менеджер</a></li>
                    <li class="nav-item"><a id="worker_l" class="nav-link" href="">Сотрудник</a></li>
                    <hr>
                </ul>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>