{% extends "base.html" %}
{% block content %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <div class="custom-list row mt-4">
        {% for project in context %}
            <div class="custom-card col-md-6">
                <h3>Название: {{ project.title }}</h3>
                <p>Дата создания: {{ project.date_created }}</p>
                <p>Teams: {{ project.num_teams }}</p>
                <p>Status: {{ project.status }}</p>
                <p>Employees: {{ project.num_employees }}</p>
                <p>Manager: {{ project.manager }}</p>
                <a href="/project/{{ project.project_id }}" class="btn btn-primary">View Project</a>
                <button class="btn btn-success"><a href="/project_docs/{{ project.project_id }}">Add docs</a></button>
                <button class="btn btn-danger">Drop Project</button>
            </div>
        {% endfor %}

    </div>
</main>

{% endblock %}