{% extends "base.html" %}
{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        Найти сотрудника
        <div class="filter-container">
            <form id="filterForm">
                <input name="email" type="text" class="dataInput" id="emailSearch" placeholder="Email">
                <button type="submit" id="searchButton">Поиск</button>
            </form>
        </div>
        <div class="team-list" id="employeeListContainer">
            <div id="teamTableContainer">
                {% if new_member %}
                Новый сотрудник:
                <ul>
                    <li>{{ new_member.name }} {{ new_member.second_name }} {{ new_member.third_name }}</li>
                    <li>{{new_member.email}}</li>
                    <li>Роль: {{new_member.role}}</li>
                </ul>
                {% endif %}
                <form method="POST" action="{{url_for('main.team_members', project_id=project_id, team_id=team_id)}}">
                    Разрешения нового сотрудника
                    {% if new_member %}
                    <input type="hidden" name="worker_id" value="{{ new_member.worker_id }}">
                    {% endif %}
                    <table class="team-table" id="teamTable">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Роль</th>
                            <th>Ставить задачи</th>
                            <th>Получать задачи</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
                        <tr>
                            <td>{{ member.email }}</td>
                            <td>{{ member.role }}</td>
                            <td><input name="p{{member.id}}" type="checkbox" checked></td>
                            <td><input name="t{{member.id}}" type="checkbox" checked></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit">Добавить</button>
                    <hr>
                </form>

            </div>
        </div>

        <br>
        <hr>
        <input type="hidden" value="{{team_id}}" id="team_id">
        <div class="filter-container">
            <form id="searchPermissions">
                <select id="user_email" name="email">
                    {% for member in members %}
                        <option value="{{member.id}}">{{member.email}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Поиск</button>
            </form>
        </div>
        <div id="searchResults" class="row mt-4">
            <div class="col-md-6">
                <h5>Подчиненные</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="subordinatesTableBody">
                        <!-- Subordinates data will be inserted here -->
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h5>Постановщики задач</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="assignersTableBody">
                        <!-- Assigners data will be inserted here -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function() {
    $('#searchPermissions').on('submit', function(event) {
        event.preventDefault();
        id_by_email = $(this).find('#user_email').val();
        const team_id = $("#team_id").val();
        
        $.ajax({
            url: `/teams/${team_id}/connections?team_member_id=${id_by_email}`,
            method: 'get',
            success: function(response) {
                // Clear previous results
                $('#subordinatesTableBody').empty();
                $('#assignersTableBody').empty();
                console.log(response)
                response.subordinates.forEach(function(subordinate) {
                    $('#subordinatesTableBody').append(
                        `<tr>
                            <td>${subordinate.email}</td>
                        </tr>`
                    );
                });
                response.directors.forEach(function(director) {
                    $('#assignersTableBody').append(
                        `<tr>
                            <td>${director.email}</td>
                        </tr>`
                    );
                });
            },
            error: function() {
                alert('Error fetching data');
            }
        });
    });
});
</script>

{% endblock %}