{% extends "base.html" %}
{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="custom-list row mt-4">
        {% for team in teams %}
            <div class="custom-card col-md-6">
                <h3><a href="/team_tasks/{{ team.id }}">{{ team.name }}</a></h3>
                <p>Created: {{ team.date_created }}</p>
                <button class="btn btn-success"><a href="/team_documents/{{ team.id }}">Add docs</a></button>
                <button class="btn btn-success"><a href="/add_member_in_team/{{ team.id }}">Add members</a></button>
                <button class="btn btn-danger"><a href="/drop_team/{{ team.id }}">Drop team</a></button>
            </div>
        {% endfor %}
    </div>
</main>

{% endblock %}