{% extends "base.html" %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <br>
        <hr>
        Добавить документ
        <div class="add-container">
            <form id="addForm">
                <input name="name" type="text" class="dataInput" id="documentNameAdd"
                       placeholder="Название документа">
                <input name="file" type="file" class="dataInput" id="documentAdd"
                       placeholder="Email создателя">
                <button type="submit">Загрузить</button>
            </form>
        </div>

        Найти документ
        <div class="filter-container">
            <form id="filterForm">
                <input name="name" type="text" class="dataInput" id="documentSearch"
                       placeholder="Название документа">
                <input name="email" type="text" class="dataInput" id="emailSearch"
                       placeholder="Email создателя">
                <input name="start_date" type="text" class="dataInput" id="srartDateSearch"
                       placeholder="От какой даты">
                <input name="start_date" type="text" class="dataInput" id="srartDateSearch"
                       placeholder="До какой даты">
                <button type="submit" id="searchButton">Поиск</button>
            </form>
        </div>

        <div class="document-list" id="documentListContainer">
            <div id="documentTableContainer">
                <table class="document-table" id="documentTable">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Загрузчик</th>
                        <th>Дата загрузки</th>
                        <th>Удалить</th>
                        <th>Скачать</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>постановка задачи</td>
                        <td>Александр</td>
                        <td>24 12 2009</td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                        <td><a href="">Скачать</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}