{% extends "base.html" %}
{% block content %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <button class="btn btn-success"><a href="/add_task">Создать задачу</a></button>
            <div class="custom-list row mt-4">
                <div class="custom-card col-md-к">
                    <h3>Ожидают выполнения</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Deadline</th>
                            <th>Постановщик</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="">t_name</a></td>
                            <td>2023-08-15</td>
                            <td>Дамир</td>
                        </tr>
                        <tr>
                            <td><a href="">t_name</a></td>
                            <td>2023-08-15</td>
                            <td>Дамир</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="custom-card col-md-4">
                    <h3>Выполняются</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Deadline</th>
                            <th>Постановщик</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="">t_name</a></td>
                            <td>2023-08-15</td>
                            <td>Дамир</td>
                        </tr>
                        <tr>
                            <td><a href="">t_name</a></td>
                            <td>2023-08-15</td>
                            <td>Дамир</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="custom-card col-md-4">
                    <h3>Завершенные</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Deadline</th>
                            <th>Постановщик</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="">t_name</a></td>
                            <td>2023-08-15</td>
                            <td>Дамир</td>
                        </tr>
                        <tr>
                            <td><a href="">t_name</a></td>
                            <td>2023-08-15</td>
                            <td>Дамир</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
{% endblock %}