{% extends "base.html" %}
{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin: 0 auto;">
        <!-- New Task Creation Form -->
        <div class="card">
            <div class="card-header">
                <h2>Создание подзадачи</h2>
            </div>
            <div class="card-body">
                <!-- Task Creation Form -->
                <p>Задача верхнего уровня: {{task.name}}</p>
                <form id="task-form" method="post" action="{{ url_for('main.new_subtask', team_id=team_id, task_id=task.id) }}">
                    <!-- Task Title -->
                    <div class="form-group">
                        <label for="task-title">Название задачи:</label>
                        <input type="text" class="form-control" id="task-title" name="task-title" required>
                    </div>
                    <p>Назначено от: {{worker_data.email}}</p>
                    {% if task_producer %}
                    <div class="form-group">
                        <input type="hidden" name="assigned-from" class="assigned-from" value="{{task_producer.id}}">
                    </div>
                    {% endif %}

                    <!-- Task Assignment -->
                    <div class="form-group">
                        <label for="assigned-to">Кому назначено:</label>
                        <select name="assigned-to[]" class="assigned-to" multiple>
                            {% for subordinate in subordinates %}
                                <option value="{{ subordinate.id }}">{{ subordinate.worker_data.email }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="responsible">Ответственный:</label>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="deadline">Дедлайн:</label>
                        <input name="deadline" type="date" class="dataInput" id="deadline"
                               placeholder="deadline" required>
                    </div>
                    {% if task_producer %}
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">
                        Создать
                    </button>
                    {% endif%}
                </form>
            </div>
        </div>
    </main>

{% endblock %}



{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  const assignedToSelect = document.querySelector('.assigned-to');
  const responsibleSelect = document.querySelector('.responsible');

  assignedToSelect.addEventListener('change', function() {
    responsibleSelect.innerHTML = '';
    const selectedOptions = Array.from(this.selectedOptions);
    selectedOptions.forEach(option => {
      const newOption = document.createElement('option');
      newOption.value = option.value;
      newOption.text = option.text;
      responsibleSelect.appendChild(newOption);
    });
  });
});
</script>
{% endblock %}