{% extends "base.html" %}
{% block content %}

    <div class="container">
        <!-- New Task Creation Form -->
        <div class="card">
            <div class="card-header">
                <h2>Создание новой задачи</h2>
            </div>
            <div class="card-body">
                <!-- Task Creation Form -->
                <form id="task-form" method="post" action="{{ url_for('main.new_task', project_id=project_id, team_id=team_id) }}">
                    <!-- Task Title -->
                    <div class="form-group">
                        <label for="task-title">Название задачи:</label>
                        <input type="text" class="form-control" id="task-title" name="task-title" required>
                    </div>

                    <div class="form-group">
                        <label for="assigned-from">Назначено от:</label>
                        <select name="assigned-from" class="assigned-from" required>
                            {% for user in users %}
                                <option>{{ user.id }} {{ user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Task Assignment -->
                    <div class="form-group">
                        <label for="assigned-to">Кому назначено:</label>
                        <select name="assigned-to" class="assigned-to" required>
                            {% for user in users %}
                                <option>{{ user.id }} {{ user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="deadline">Дедлайн:</label>
                        <input name="deadline" type="date" class="dataInput" id="deadline"
                               placeholder="deadline">
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">
                        Создать
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}