{% extends "base.html" %}
{% block content %}

    <div class="container">
        <!-- New Task Creation Form -->
        <div class="card">
            <div class="card-header">
                <h2>Создание новой задачи</h2>
            </div>
            <div class="card-body">
                <!-- Task Creation Form -->
                <form id="task-form" method="post" action="{{ url_for('main.new_task', project_id=project_id, team_id=team_id) }}">
                    <!-- Task Title -->
                    <div class="form-group">
                        <label for="task-title">Название задачи:</label>
                        <input type="text" class="form-control" id="task-title" name="task-title" required>
                    </div>
                    <p>Назначено от: {{worker_data.email}}</p>
                    <div class="form-group">
                        <input type="hidden" name="assigned-from" class="assigned-from" value="{{task_producer.id}}">
                    </div>

                    <!-- Task Assignment -->
                    <div class="form-group">
                        <label for="assigned-to">Кому назначено:</label>
                        <select name="assigned-to[]" class="assigned-to" multiple required>
                            {% for subordinate in subordinates %}
                                <option value="{{ subordinate.id }}">{{ subordinate.worker_data.email }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="responsible">Ответственный:</label>
                        <select name="responsible" class="responsible">
                            {% for subordinate in subordinates %}
                                <option value="{{ subordinate.id }}">{{ subordinate.worker_data.email }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="deadline">Дедлайн:</label>
                        <input name="deadline" type="date" class="dataInput" id="deadline"
                               placeholder="deadline">
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">
                        Создать
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}