{% extends "base.html" %}
{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin: 0 auto;">
        <!-- Task Details Section -->
        <div class="card">
            <div class="card-header">
                Данные о задаче
            </div>
            <div class="card-body">

                <!-- Task Title -->
                <h5 class="card-title">Название: {{ task['task'].name }}</h5>
                <!-- Task Description -->
                {% if task.parent_task %}
                <p>Задача верхнего уровня: <a href="{{url_for('main.task', team_id=task.team_id, task_id=task.parent_task.id)}}">{{task.parent_task.name}}</a></p>
                {%  endif %}
                <p class="card-text">Дата создания: {{ task['task'].date_created.strftime('%d.%m.%Y %H:%M') }}</p>
                <p class="card-text">Дедлайн: {{ task['task'].deadline.strftime('%d.%m.%Y %H:%M') }}</p>
                <p class="card-text">Дата последнего измененения статуса: {{ task['task'].stauts_changed_date.strftime('%d.%m.%Y %H:%M') }}</p>
                <p class="card-text">Статус задачи: {{ task['status'].name }}</p>
                <hr>
                <!-- Task Assignment Section -->
                <div class="card mt-3">
                    <div class="card-header">
                        Кто и кому назначил
                    </div>
                    <div class="card-body">
                        <p><strong>Кому назначено:</strong>
                            <ul>
                                {% for executor in task['executors'] %}
                                <li>
                                    {{ executor.name }}
                                    {{ executor.second_name }}
                                    {{ executor.third_name }}
                                    {{ executor.email }}
                                </li>
                                {% endfor %}
                            </ul>
                            Из них ответственный:
                            {{ task['main_executor'].name }}
                            {{ task['main_executor'].second_name }}
                            {{ task['main_executor'].third_name }}
                            {{ task['main_executor'].email }}
                        </p>
                        <p><strong>Кто назначил:</strong>
                            {{ task['producer'].name }}
                            {{ task['producer'].second_name }}
                            {{ task['producer'].third_name }}
                            {{ task['producer'].email }}
                        </p>
                    </div>
                </div>
                <hr>

                <!-- Comments Section -->
                <h6>Сообщения задачи:</h6>
                <div class="card">
                    <div class="card-body">
                        <div class="chat-box" style="max-height: 300px; overflow-y: auto;">
                            {% for item in task['messages'] %}
                            <div class="chat-message">
                                <div class="chat-message-header">
                                    <span class="chat-sender">{{ item.worker.email }}</span>
                                    <span class="chat-timestamp">{{ item.upload_date.strftime('%d.%m.%Y %H:%M') }}</span>
                                </div>
                                <div class="chat-message-body">
                                    {{ item.text }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if task['status'].name == 'Выполняются' %}
                    <!-- Add Comment Form -->
                    <div class="card-footer">
                        <form method="POST" action="{{ url_for('main.create_task_message', team_id=task.team_id, task_id=task.task.id) }}" class="d-flex">
                            <textarea class="form-control mr-2" name="message" id="message" rows="1" placeholder="Напишите сообщение..."></textarea>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                    {% endif %}
                </div>

                <hr>
                <h6><a href="{{url_for('main.task_docs', team_id=task.team_id, task_id=task.task.id)}}">Файлы задачи</a></h6>
                <hr>
                <!-- Subtasks Section -->
                <h6>Подзадачи:</h6>
                <ul class="list-group">
                    {% for item in task['subtasks'] %}
                        <li class="list-group-item"><a href="{{url_for('main.task', team_id=item.team_id, task_id=item.id)}}">{{ item.name }}</a></li>
                    {% endfor %}

                    <!-- Add more subtasks dynamically -->
                </ul>
                <br>
                <hr>
                {% if task['status'].name == 'Выполняются' %}
                <!-- Create Subtask Form -->
                <a href="{{url_for('main.add_subtask', team_id=task.team_id, task_id=task.task.id)}}">Создать подзадачу</a>
                {% endif %}
                <!-- Report Section -->
                <h6>Отчет по задаче:</h6>
                {% for item in task['reports'] %}
                <ul>
                    <li class="list-group-item">{{ item.text }}</li>
                    <li class="list-group-item">{{ item.upload_date.strftime('%d.%m.%Y %H:%M') }}</li>
                    <li class="list-group-item">Отправитель: {{item.worker.email}}</li>
                </ul>
                <br>
                {% endfor %}
                {% if task['status'].name == 'Выполняются' %}
                <!-- Add Report Form -->
                <form id="report-form" method="POST" action="{{url_for('main.create_task_report', team_id=task.team_id, task_id=task.task.id)}}">
                    <div class="form-group">
                        <label for="report">Добавление отчета по задаче:</label>
                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить отчет</button>
                </form>
                {% endif %}
                <br>
                <hr>
                <!-- Change Status Button -->
                <form method="POST" action="{{url_for('main.change_task_status', team_id=task.team_id, task_id=task.task.id)}}">
                    <div class="form-group">
                        <label for="task_status">Выберите статус задачи</label>
                        <select name="task_status" id="task_status">
                            <option value="1">Ожидает выполнения</option>
                            <option value="2">Выполняется</option>
                            <option value="3">Завершена</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-warning">Изменить статус задачи</button>
                </form>
            </div>
        </div>
    </main>

{% endblock %}