{% extends "base.html" %}
{% block content %}

    <div class="container">
        <!-- Task Details Section -->
        <div class="card">
            <div class="card-header">
                Данные о задаче
            </div>
            <div class="card-body">
                <!-- Task Title -->
                <h5 class="card-title">Название: {{ task['task'].name }}</h5>

                <!-- Task Description -->
                <p class="card-text">Дата создания: {{ task['task'].date_created.strftime('%d.%m.%Y %H:%M') }}</p>
                <p class="card-text">Дедлайн: {{ task['task'].deadline.strftime('%d.%m.%Y %H:%M') }}</p>
                <p class="card-text">Дата последнего измененения статуса: {{ task['task'].stauts_changed_date.strftime('%d.%m.%Y %H:%M') }}</p>
                <p class="card-text">Статус задачи: {{ task['status'].name }}</p>
                <hr>
                <!-- Task Assignment Section -->
                <div class="card mt-3">
                    <div class="card-header">
                        Кто и кому назначил
                    </div>
                    <div class="card-body">
                        <p><strong>Кому назначено:</strong>
                            {{ task['main_executor'].name }}
                            {{ task['main_executor'].second_name }}
                            {{ task['main_executor'].third_name }}
                        </p>
                        <p><strong>Кто назначил:</strong>
                            {{ task['producer'].name }}
                            {{ task['producer'].second_name }}
                            {{ task['producer'].third_name }}
                        </p>
                    </div>
                </div>
                <hr>

                <!-- Comments Section -->
                <h6>Сообщения задачи:</h6>
                <ul class="list-group">
                    {% for item in task['messages'] %}
                        <li class="list-group-item">{{ item.text }}</li>
                        <li class="list-group-item">{{ item.upload_date }}</li>
                        <li></li>
                    {% endfor %}
                    <!-- Add more comments dynamically using JavaScript -->
                </ul>

                <!-- Add Comment Form -->
                <form>
                    <div class="form-group">
                        <label for="comment">Добавление сообщения:</label>
                        <textarea class="form-control" id="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить сообщение</button>
                </form>
                
                <hr>
                <!-- Attach Files Section -->
                <h6>Прикрепленные файлы</h6>
                <ul class="list-group">
                    <li class="list-group-item">File 1</li>
                    <li class="list-group-item">File 2</li>
                    <!-- Add more files dynamically -->
                </ul>

                <!-- Add File Button -->
                <button type="button" class="btn btn-secondary">Прикрепить файл</button>

                <!-- Subtasks Section -->
                <h6>Подзадачи:</h6>
                <ul class="list-group">
                    {% for item in task['subtasks'] %}
                        <li class="list-group-item">{{ item.name }}</li>
                        <li></li>
                    {% endfor %}

                    <!-- Add more subtasks dynamically -->
                </ul>
                <br>
                <hr>
                <!-- Create Subtask Form -->
                <form>
                    <div class="form-group">
                        <label for="subtask">Создание подзадачи:</label>
                        <input type="text" class="form-control" id="subtask">
                    </div>
                    <button type="submit" class="btn btn-primary">Создать подзадачу</button>
                </form>

                <!-- Report Section -->
                <h6>Отчет по задаче:</h6>
                {% for item in task['reports'] %}
                    <li class="list-group-item">{{ item.text }}</li>
                    <li class="list-group-item">{{ item.upload_date }}</li>
                    <li></li>
                {% endfor %}

                <!-- Add Report Form -->
                <form id="report-form">
                    <div class="form-group">
                        <label for="report">Добавление отчета по задаче:</label>
                        <textarea class="form-control" id="report" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить отчет</button>
                </form>

                <br>
                <hr>
                <!-- Change Status Button -->
                <button type="button" class="btn btn-warning">Изменить статус задачи</button>
            </div>
        </div>
    </div>

{% endblock %}